{# roles/backup_restic/templates/backup-restic.timer.j2 #}
{# Template for the managed systemd timer unit in the `backup_restic` role. #}
[Unit]
Description=Schedule managed Restic backup

[Timer]
OnCalendar={{ backup_restic_timer_on_calendar }}
RandomizedDelaySec={{ backup_restic_timer_randomized_delay_sec }}
AccuracySec={{ backup_restic_timer_accuracy_sec }}
Persistent={{ backup_restic_timer_persistent | ternary('true', 'false') }}
Unit={{ backup_restic_service_unit }}

[Install]
WantedBy=timers.target
