{# roles/backup_restic/templates/backup-restic.env.j2 #}
{# Template for the managed Restic environment file in the `backup_restic` role. #}
# Managed by Ansible: backup_restic
# Source: roles/backup_restic/templates/backup-restic.env.j2
RESTIC_REPOSITORY={{ backup_restic_repository | string | to_json }}
RESTIC_PASSWORD={{ backup_restic_password | string | to_json }}
{% for item in backup_restic_extra_environment | dictsort %}
{{ item.0 }}={{ item.1 | string | to_json }}
{% endfor %}
