{# roles/base_ntp/templates/timesyncd.conf.j2 #}
{# Template for the managed `/etc/systemd/timesyncd.conf` file in the `base_ntp` role. #}
{# Renders the Debian-family NTP server configuration for systemd-timesyncd. #}
{{
  (
    ['[Time]', 'NTP=' ~ (base_ntp_servers | join(' '))]
    + (
      ['FallbackNTP=' ~ (base_ntp_fallback_servers | join(' '))]
      if base_ntp_fallback_servers | length > 0
      else []
    )
  ) | join('\n')
}}
