{# roles/base_dns/templates/networkmanager-base-dns.conf.j2 #}
{# Template for the managed NetworkManager DNS override file in the `base_dns` role. #}
# Managed by Ansible: base_dns
# Source: roles/base_dns/templates/networkmanager-base-dns.conf.j2
[main]
dns=none
rc-manager=unmanaged
